.title {
  text-align: "center";
  margin: 0 auto 0 auto;
  padding-top: 20px;
  font-family: "Righteous", cursive;

  font-weight: 300;
  font-size: 5em;
  color: #251f25;
}
.nb {
  font-size: 1.5em;
  color: #30475e;
  margin: 0;
  padding: 30px;
}
.bpic {
  min-height: 93vh;
  /*display: flex;*/
  align-items: center;
  background-image: url("./pgraphy.jpg");
  background-position: center;
  background-size: 1520px 700px;
}
.title2 {
  display: flex;
  position: relative;
  left: 700px;
  top: 70px;
  font-size: 3.5em;
  text-align: left;
  width: 400px;
  font-family: "Righteous", cursive;
}
.brief {
  font-size: 2.2em;
  position: relative;
  left: 700px;
  top: 100px;
  text-align: left;
  width: 600px;
  font-family: "Akaya Telivigala", cursive;
}
