.Askf {
  position: relative;
  bottom: 170px;
  padding-left: 900px;
  padding-right: 200px;
}
.Askmain {
  background-color: #d3eca7;
}
.Aska {
  font-size: 3em;
  padding-top: 50px;
  text-align: "center";
  margin: 0 auto 0 auto;
  font-family: "Righteous", cursive;
  color: #ec5454;
}
.Askb {
  position: relative;
  top: 40px;
  width: 500px;
  padding-top: 30px;
  font-size: 1.7em;
  color: #e96158;
}
.Askc {
  position: relative;
  top: 80px;
  width: 500px;
  font-size: 1.5em;
  opacity: 0.7;
  color: #884848;
}
.Success {
  background-color: #d3eca7;
  position: absolute;
  bottom: 33px;
  height: 292px;
}
.success1 {
  font-size: 3em;
  padding-top: 70px;
  color: #e96158;
}
.success2 {
  font-size: 2em;
  padding-top: 50px;
  position: relative;
  left: 20px;
  color: #e96158;
}

.success3 {
  font-size: 1.5em;
  padding-top: 20px;
  color: #884848;
  margin: 0 auto 0 auto;
}
